* {
    padding: 0;
    margin: 0;
}

.ship_bar {
    height: 200px;
}

.koens {
    height: calc(100vh - 200px);
}

.info_overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}