* {
    padding: 0;
    margin: 0;
}

body {
    background: url("../img/bg.jpg");
    overflow: hidden;
    font-family: "Press Start 2P", sans-serif;
}

.ship_bar {
    height: 200px;
}

section:first-of-type {
    height: calc(100vh - 200px);
}

section:first-of-type > div {
    width: 80%;
    margin: auto;
}

.koens {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.info_overlay, .projectiles {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

.ship {
    width: 200px;
    height: 100px;
    background: #000080;
    position: relative;
    left: 50%;
}

.ship_bar > div {
    padding: 50px 0;
    position: relative;
    width: calc(100vw - 200px)
}

.koen {
    width: 60px;
    height: 100px;
    background: darkolivegreen;
    margin: 30px 25px;
}

.projectile {
    width: 20px;
    height: 50px;
    background: #000;
    position: absolute;
}

#lives {
    font-size: 3em;
    padding: .25em;
}

#over {
    display: none;
    font-size: 4em;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(255,255,255,.4);
}

#over > div {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
}

#restart {
    margin-top: 1em;
    font-size: .5em;
    cursor: pointer;
}