* {
    padding: 0;
    margin: 0;
}

body {
    background: url("../img/bg.jpg");
}

.ship_bar {
    height: 200px;
}

.koens {
    height: calc(100vh - 200px);
}

.info_overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

.ship {
    width: 200px;
    height: 100px;
    background: #000080;
    position: relative;
    left: 50%;
}

.ship_bar > div {
    padding: 50px 0;
    position: relative;
    width: calc(100vw - 200px)
}